<div class="properties-grid">

  @for (propiedad of propiedades; track propiedad.id) {

    <article class="property-card">

      <div class="property-image">

        <img
          [src]="propiedad.imagen"
          [alt]="propiedad.titulo"
        >

        <span
          class="property-status"
          [class.sale]="propiedad.operacion === 'Venta'"
          [class.rent]="propiedad.operacion === 'Alquiler'"
          [class.anticres]="propiedad.operacion === 'Anticres'"
        >
          {{ propiedad.operacion }}
        </span>

      </div>


      <div class="property-content">

        <span class="property-type">
          {{ propiedad.tipo }}
        </span>

        <h3>
          {{ propiedad.titulo }}
        </h3>


        <div class="property-price">

          ${{ propiedad.precio | number:'1.0-0':'es-CO' }}

          <span>
            COP
          </span>

        </div>


        <div class="property-details">

          <span>

            <i class="bi bi-door-open"></i>

            {{ propiedad.habitaciones }} Hab.

          </span>


          <span>

            <i class="bi bi-droplet"></i>

            {{ propiedad.banos }} Baños

          </span>


          <span>

            <i class="bi bi-bounding-box"></i>

            {{ propiedad.area }} m²

          </span>

        </div>

      </div>

    </article>

  }

</div>