<footer class="footer">

  <div class="footer-main">

    <div class="footer-container">

      <!-- MARCA -->

      <div class="footer-brand">

        <a routerLink="/" class="footer-logo">
          REY
          <span>INMOBILIARIA</span>
        </a>

        <p>
          Encontramos espacios que se convierten en hogares,
          inversiones que construyen futuro y propiedades
          que se adaptan a sus sueños.
        </p>

        <a href="https://wa.me/573205319390?text=Hola%2C%20estoy%20interesado%20en%20conocer%20las%20propiedades%20disponibles.%20%C2%BFPodr%C3%ADan%20brindarme%20m%C3%A1s%20informaci%C3%B3n%3F"
          target="_blank" class="footer-whatsapp">
          Hablar por WhatsApps
          <span>↗</span>
        </a>

      </div>


      <!-- NAVEGACIÓN -->

      <div class="footer-column">

        <h3>Navegación</h3>

        <ul>

          <li>
            <a routerLink="/">Inicio</a>
          </li>

          <li>
            <a routerLink="/comprar">Comprar</a>
          </li>

          <li>
            <a routerLink="/vender">Vender</a>
          </li>

          <li>
            <a routerLink="/alquilar">Alquilar</a>
          </li>

          <li>
            <a routerLink="/nosotros">Nosotros</a>
          </li>

          <li>
            <a routerLink="/contacto">Contacto</a>
          </li>

        </ul>

      </div>


      <!-- SERVICIOS -->

      <div class="footer-column">

        <h3>Servicios</h3>

        <ul>

          <li>
            <a routerLink="/comprar">Compra de inmuebles</a>
          </li>

          <li>
            <a routerLink="/vender">Venta de inmuebles</a>
          </li>

          <li>
            <a routerLink="/alquilar">Alquiler</a>
          </li>

          <li>
            <a routerLink="/contacto">Avalúos</a>
          </li>

          <li>
            <a routerLink="/anticres">Anticres</a>
          </li>

          <li>
            <a routerLink="/contacto">Asesoría inmobiliaria</a>
          </li>

        </ul>

      </div>


      <!-- CONTACTO -->

      <div class="footer-column footer-contact">

        <h3>Contáctenos</h3>

        <p>
          Pasto, Nariño<br>
          Colombia
        </p>

        <a href="https://www.google.com/maps/place/Casa+Pilares/@1.2168696,-77.2780369,20.5z/data=!4m6!3m5!1s0x8e2ed486f7e92ebf:0x2cbf497ae4d2f18e!8m2!3d1.2167975!4d-77.2779335!16s%2Fg%2F11c20c0r6h?entry=ttu&g_ep=EgoyMDI2MDgxMS4wIKXMDSoASAFQAw%3D%3D"
          target="_blank">
          Calle 20 #26-61<br>
          Casa Pilares Oficina 101
        </a>

        <p></p>

        <a href="tel:+573205319390">
          +57 320 5319 390
        </a>

        <a href="mailto:info@reyinmobiliaria.net">
          info@reyinmobiliaria.net
        </a>

      </div>

    </div>

  </div>


  <!-- FOOTER BOTTOM -->

  <div class="footer-bottom">

    <div class="footer-bottom-container">

      <p>
        © {{ currentYear }} REY Inmobiliaria. Todos los derechos reservados.
      </p>

      <div class="footer-social">

        <a href="https://www.instagram.com/rey.inmobiliaria?utm_source=qr" aria-label="Instagram">
          Instagram
        </a>

        <a href="https://www.facebook.com/share/19Jk5SsJfj/?mibextid=wwXIfr" aria-label="Facebook">
          Facebook
        </a>

        <a href="https://www.tiktok.com/@rey.inmobiliaria3?_r=1&_t=ZS-98rYUDxLKWS" aria-label="TikTok">
          TikTok
        </a>

        
        <a routerLink="/admin/login"><i class="bi bi-key"></i></a>
        

      </div>

    </div>

  </div>

</footer>