<section class="property-search">

  <div class="search-container">

    <div class="search-field location-field">

      <i class="bi bi-geo-alt"></i>

      <div class="field-content">
        <span>Ubicación</span>
        <input
          type="text"
          placeholder="Ej. Pasto, Nariño"
        >
      </div>

    </div>


    <div class="search-divider"></div>


    <div class="search-field">

      <i class="bi bi-building"></i>

      <div class="field-content">

        <span>Tipo de propiedad</span>

        <select>
          <option value="">Todos</option>
          <option value="Casa">Casa</option>
          <option value="Apartamento">Apartamento</option>
          <option value="Lote">Lote</option>
          <option value="Local">Local</option>
          <option value="Oficina">Oficina</option>
        </select>

      </div>

    </div>


    <div class="search-divider"></div>


    <div class="search-field">

      <i class="bi bi-tag"></i>

      <div class="field-content">

        <span>Operación</span>

        <select>
          <option value="">Comprar o arriendo</option>
          <option value="Venta">Venta</option>
          <option value="Alquiler">Arriendo</option>
          <option value="Arriendo">Anticres</option>
        </select>

      </div>

    </div>


    <button class="search-button">

      <i class="bi bi-search"></i>

      <span>Buscar</span>

    </button>

  </div>

</section>